h3 {
	margin: 0;
  margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Luckiest Guy', cursive;
}

button {
	margin-bottom: 10px;
}

body {
	background-image: url('/assets/img/geometry.png');
	background-repeat: repeat;
  letter-spacing: 2px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.row {
  margin: 0;
}

.input-field label, input[type=text] {
    color: #fff !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
   	color: #fff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}
/* icon prefix focus color */
.input-field .prefix.active {
   color: #fff;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border-bottom: 1px solid #fff;
}

.page-footer {
  height: 100px;
  padding-top: 50px;
  background-color: transparent;
}